@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f7;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

@media (min-width: 768px) {
  /* Tidak ada perubahan untuk tampilan desktop */
}
